<mat-chip-list>
  <mat-chip *ngFor="let filter of searchFilters$ | async" [removable]="true" (removed)="removeFilter(filter)">
    {{filter.filterColumn}}: {{filter.filterValue}}
    <mat-icon matChipRemove class="pb-chip-remove">cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
<form>
  <mat-form-field class="example-full-width">
    <input matInput value="" type="text" placeholder="Write key:value pairs and press enter" #input (focus)="focused = true"
      (blur)="focused = false" (keydown.tab)="checkForNewFilter($event)" (keydown.enter)="checkForNewFilter($event)"
      autofocus />
  </mat-form-field>
  <button mat-icon-button *ngIf="(searchFilters$ | async)?.length > 0" (click)="reset($event); input.focus();">
    <mat-icon class="search-bar-icon">close</mat-icon>
  </button>
</form>